In [1]:
import pandas as pd
import re

In [2]:
input_data = pd.read_csv('test_result.csv')

In [3]:
def get_list(row):
    return row.split(',')

In [6]:
input_data['tmp'] = input_data['reco'].map(get_list)

In [10]:
new_df = input_data.explode('tmp')

In [ ]:
def get_list(row):
    value  =row.split(':')
    value[0]

In [11]:
new_df['value'] = input_data['tmp'].map(get_list)

,data,profile,ref,reco,top3,top5,top10,tmp
0,2022.4.30,"{id:""jennytestone@test.com"",divisions:[""Commer...",NaN,"[""GO1043"":2,""GO1755"":0,""GO1841"":1,""GO5459"":3,""...",66.70%,60%,60%,"[""GO1043"":2"
0,2022.4.30,"{id:""jennytestone@test.com"",divisions:[""Commer...",NaN,"[""GO1043"":2,""GO1755"":0,""GO1841"":1,""GO5459"":3,""...",66.70%,60%,60%,"""GO1755"":0"
0,2022.4.30,"{id:""jennytestone@test.com"",divisions:[""Commer...",NaN,"[""GO1043"":2,""GO1755"":0,""GO1841"":1,""GO5459"":3,""...",66.70%,60%,60%,"""GO1841"":1"
0,2022.4.30,"{id:""jennytestone@test.com"",divisions:[""Commer...",NaN,"[""GO1043"":2,""GO1755"":0,""GO1841"":1,""GO5459"":3,""...",66.70%,60%,60%,"""GO5459"":3"
0,2022.4.30,"{id:""jennytestone@test.com"",divisions:[""Commer...",NaN,"[""GO1043"":2,""GO1755"":0,""GO1841"":1,""GO5459"":3,""...",66.70%,60%,60%,"""GO1952"":0"
...,...,...,...,...,...,...,...,...
7,2022/5/7,"{""id"":StageZero@anu.edu.au, ""divisions"": [""MED...","[""StageOneHighA@anu.edu.au"", ""StageOneMidA@anu...","[""GO4480"": 2, ""GO5231"":5, ""GO5474"":3,""GO1797"":...",1,1,0.7,"""GO5361"":0"
7,2022/5/7,"{""id"":StageZero@anu.edu.au, ""divisions"": [""MED...","[""StageOneHighA@anu.edu.au"", ""StageOneMidA@anu...","[""GO4480"": 2, ""GO5231"":5, ""GO5474"":3,""GO1797"":...",1,1,0.7,"""GO4421"":0"
7,2022/5/7,"{""id"":StageZero@anu.edu.au, ""divisions"": [""MED...","[""StageOneHighA@anu.edu.au"", ""StageOneMidA@anu...","[""GO4480"": 2, ""GO5231"":5, ""GO5474"":3,""GO1797"":...",1,1,0.7,"""GO236"":1"
7,2022/5/7,"{""id"":StageZero@anu.edu.au, ""divisions"": [""MED...","[""StageOneHighA@anu.edu.au"", ""StageOneMidA@anu...","[""GO4480"": 2, ""GO5231"":5, ""GO5474"":3,""GO1797"":...",1,1,0.7,"""GO1207"":0"
7,2022/5/7,"{""id"":StageZero@anu.edu.au, ""divisions"": [""MED...","[""StageOneHighA@anu.edu.au"", ""StageOneMidA@anu...","[""GO4480"": 2, ""GO5231"":5, ""GO5474"":3,""GO1797"":...",1,1,0.7,"""GO5407"":1]"