In [48]:
import pandas as pd, numpy as np

In [49]:
relation_df = pd.read_csv('data/11.csv')

In [50]:
result_df = relation_df.groupby('value').agg({'Staff ID':'count', 'Weight':'sum'}).reset_index().sort_values('value')

In [51]:
result_df = result_df[:-2].drop('Staff ID', axis =1)

In [52]:
def normalize(input_df, target_col, method='proportion'):
    assert method in ['proportion', 'max-min', 'rank'], f'{method} not in method list'
    if method == 'proportion':
        input_df[target_col] = input_df[target_col] / (input_df[target_col].sum())
    elif method == 'max-min':
        input_df[target_col] = (input_df[target_col] - input_df[target_col].min()
                                ) / (input_df[target_col].max() - input_df[target_col].min())
    elif method == 'rank':
        input_df[target_col] = 1 + 9/(input_df[target_col].max()-input_df[target_col].min())*(input_df[target_col]-input_df[target_col].min())
        input_df[target_col] = input_df[target_col].astype(int)*2
        input_df.loc[input_df[target_col]<3, target_col]=3
        input_df.loc[input_df[target_col]>10, target_col]=10
    return input_df

In [53]:
result_df = result_df.rename(columns = {'Weight': 'score'})

In [54]:
tmp = normalize(result_df, 'score', 'rank')

In [55]:
tmp

                                                value  score
0                   DIVISION 01 MATHEMATICAL SCIENCES      3
1                       DIVISION 02 PHYSICAL SCIENCES      3
2                       DIVISION 03 CHEMICAL SCIENCES      3
3                          DIVISION 04 EARTH SCIENCES      6
4                  DIVISION 05 ENVIRONMENTAL SCIENCES      4
5                     DIVISION 06 BIOLOGICAL SCIENCES      8
6    DIVISION 07 AGRICULTURAL AND VETERINARY SCIENCES      4
7      DIVISION 08 INFORMATION AND COMPUTING SCIENCES      4
8                             DIVISION 09 ENGINEERING      3
9                              DIVISION 10 TECHNOLOGY      4
10            DIVISION 11 MEDICAL AND HEALTH SCIENCES      8
11           DIVISION 12 BUILT ENVIRONMENT AND DESIGN      3
12                              DIVISION 13 EDUCATION      6
13                              DIVISION 14 ECONOMICS      4
14  DIVISION 15 COMMERCE, MANAGEMENT, TOURISM AND ...      4
15               DIVISION 16 STUDIES IN HUMAN SOCIETY     10
16      DIVISION 17 PSYCHOLOGY AND COGNITIVE SCIENCES      6
17                  DIVISION 18 LAW AND LEGAL STUDIES      3
18  DIVISION 18 LAW AND LEGAL STUDIES COGNITIVE SC...      4
19   DIVISION 19 STUDIES IN CREATIVE ARTS AND WRITING      4
20    DIVISION 20 LANGUAGE, COMMUNICATION AND CULTURE      6
21                DIVISION 21 HISTORY AND ARCHAEOLOGY      4
22       DIVISION 22 PHILOSOPHY AND RELIGIOUS STUDIES      3

In [80]:
import math

In [81]:
tmp['score'] = tmp['score']*100

In [82]:
tmp['score'] = tmp['score'].map(lambda x:math.ceil(x))

In [84]:
tmp.to_csv('rank.csv', index=0)

In [69]:
tmp['rank'] = pd.cut(tmp['score'], 7)

In [71]:
tmp['rank'].sort_values

<bound method Series.sort_values of 0       (-0.1, 14.286]
1       (-0.1, 14.286]
2       (-0.1, 14.286]
3     (14.286, 28.571]
4     (14.286, 28.571]
5     (42.857, 57.143]
6     (14.286, 28.571]
7       (-0.1, 14.286]
8       (-0.1, 14.286]
9     (14.286, 28.571]
10    (42.857, 57.143]
11      (-0.1, 14.286]
12    (28.571, 42.857]
13    (14.286, 28.571]
14    (14.286, 28.571]
15     (85.714, 100.0]
16    (14.286, 28.571]
17      (-0.1, 14.286]
18    (14.286, 28.571]
19    (14.286, 28.571]
20    (14.286, 28.571]
21    (14.286, 28.571]
22      (-0.1, 14.286]
Name: rank, dtype: category
Categories (7, interval[float64, right]): [(-0.1, 14.286] < (14.286, 28.571] < (28.571, 42.857] < (42.857, 57.143] < (57.143, 71.429] < (71.429, 85.714] < (85.714, 100.0]]>

In [68]:
for i in range

0       (-0.1, 14.286]
1       (-0.1, 14.286]
2       (-0.1, 14.286]
3     (14.286, 28.571]
4     (14.286, 28.571]
5     (42.857, 57.143]
6     (14.286, 28.571]
7       (-0.1, 14.286]
8       (-0.1, 14.286]
9     (14.286, 28.571]
10    (42.857, 57.143]
11      (-0.1, 14.286]
12    (28.571, 42.857]
13    (14.286, 28.571]
14    (14.286, 28.571]
15     (85.714, 100.0]
16    (14.286, 28.571]
17      (-0.1, 14.286]
18    (14.286, 28.571]
19    (14.286, 28.571]
20    (14.286, 28.571]
21    (14.286, 28.571]
22      (-0.1, 14.286]
Name: score, dtype: category
Categories (7, interval[float64, right]): [(-0.1, 14.286] < (14.286, 28.571] < (28.571, 42.857] < (42.857, 57.143] < (57.143, 71.429] < (71.429, 85.714] < (85.714, 100.0]]

In [2]:
relation_df = pd.read_csv('data/tag_category_map.csv')
staff_df = pd.read_csv('data/clean_staff_tags.csv')

In [3]:
merge_df = staff_df.merge(relation_df)

In [9]:
merge_df.groupby('value')['Staff ID'].count().reset_index().sort_values('Staff ID', ascending=False)

                                                value  Staff ID
15               DIVISION 16 STUDIES IN HUMAN SOCIETY      2799
24                     DIVISION 24 OTHERS(IRRELEVANT)      2746
23                       DIVISION 23 OTHERS(RELEVANT)      1781
10            DIVISION 11 MEDICAL AND HEALTH SCIENCES      1223
5                     DIVISION 06 BIOLOGICAL SCIENCES      1218
12                              DIVISION 13 EDUCATION      1028
3                          DIVISION 04 EARTH SCIENCES       803
16      DIVISION 17 PSYCHOLOGY AND COGNITIVE SCIENCES       784
20    DIVISION 20 LANGUAGE, COMMUNICATION AND CULTURE       771
4                  DIVISION 05 ENVIRONMENTAL SCIENCES       708
13                              DIVISION 14 ECONOMICS       708
14  DIVISION 15 COMMERCE, MANAGEMENT, TOURISM AND ...       591
21                DIVISION 21 HISTORY AND ARCHAEOLOGY       583
19   DIVISION 19 STUDIES IN CREATIVE ARTS AND WRITING       538
9                              DIVISION 10 TECHNOLOGY       525
18  DIVISION 18 LAW AND LEGAL STUDIES COGNITIVE SC...       491
6    DIVISION 07 AGRICULTURAL AND VETERINARY SCIENCES       479
7      DIVISION 08 INFORMATION AND COMPUTING SCIENCES       442
8                             DIVISION 09 ENGINEERING       383
11           DIVISION 12 BUILT ENVIRONMENT AND DESIGN       213
1                       DIVISION 02 PHYSICAL SCIENCES       178
2                       DIVISION 03 CHEMICAL SCIENCES       139
17                  DIVISION 18 LAW AND LEGAL STUDIES        95
22       DIVISION 22 PHILOSOPHY AND RELIGIOUS STUDIES        93
0                   DIVISION 01 MATHEMATICAL SCIENCES        93

In [4]:
cate_df = merge_df.groupby(['Staff ID','value'])['Weight'].sum().reset_index().sort_values('Weight', ascending=False)

In [8]:
cate_df.to_csv('researcher_division.csv', index=0)

In [46]:
cleaned_cate_df = cate_df[~cate_df['value'].isin(['DIVISION 24 OTHERS(IRRELEVANT)', 'DIVISION 23 OTHERS(RELEVANT)'])]
cleaned_cate_df = cleaned_cate_df.groupby(['Staff ID']).apply(lambda x:x.sort_values(by=['Weight'],ascending=False)[:1])

In [49]:
result = cleaned_cate_df.groupby('value')['Staff ID'].count().reset_index().sort_values('Staff ID', ascending=False).rename(columns={'value':'category'})
display(result)

                                             category  Staff ID
15               DIVISION 16 STUDIES IN HUMAN SOCIETY        91
10            DIVISION 11 MEDICAL AND HEALTH SCIENCES        70
12                              DIVISION 13 EDUCATION        39
5                     DIVISION 06 BIOLOGICAL SCIENCES        33
16      DIVISION 17 PSYCHOLOGY AND COGNITIVE SCIENCES        16
3                          DIVISION 04 EARTH SCIENCES        14
18   DIVISION 19 STUDIES IN CREATIVE ARTS AND WRITING        14
14  DIVISION 15 COMMERCE, MANAGEMENT, TOURISM AND ...        13
6    DIVISION 07 AGRICULTURAL AND VETERINARY SCIENCES         9
19    DIVISION 20 LANGUAGE, COMMUNICATION AND CULTURE         8
8                             DIVISION 09 ENGINEERING         8
13                              DIVISION 14 ECONOMICS         7
4                  DIVISION 05 ENVIRONMENTAL SCIENCES         7
20                DIVISION 21 HISTORY AND ARCHAEOLOGY         5
7      DIVISION 08 INFORMATION AND COMPUTING SCIENCES         5
9                              DIVISION 10 TECHNOLOGY         4
2                       DIVISION 03 CHEMICAL SCIENCES         3
11           DIVISION 12 BUILT ENVIRONMENT AND DESIGN         2
1                       DIVISION 02 PHYSICAL SCIENCES         2
17  DIVISION 18 LAW AND LEGAL STUDIES COGNITIVE SC...         2
0                   DIVISION 01 MATHEMATICAL SCIENCES         2

In [48]:
result['Staff ID'].sum()

354

In [92]:
def normalize(df, method='proportion'):
    if method == 'proportion':
        df['Weight'] = df['Weight'] / (df['Weight'].sum())
    elif method == 'max-min':
        df['Weight'] = (df['Weight'] - df['Weight'].min()) / (df['Weight'].max() - df['Weight'].min())
    return df

In [104]:
def weighted_sim(df):
    df['final_weight'] = df['Weight_offset'].sum()/len(df['value'].unique())
    return df

In [66]:
normalized_df = cate_df.groupby('Staff ID').apply(lambda x: normalize(x))
sample_id = normalized_df.sample(1)['Staff ID'].values[0]
sample_df = normalized_df[normalized_df['Staff ID'] == sample_id]
remain_df = normalized_df[normalized_df['Staff ID'] != sample_id]
merge_df = remain_df.merge(sample_df[['value','Weight']], on='value')
merge_df['Weight_offset'] = abs(merge_df['Weight_x']-merge_df['Weight_y'])
merge_df = merge_df.groupby('Staff ID').apply(lambda x: weighted_sim(x))
merge_df[['Staff ID', 'final_weight']].drop_duplicates().sort_values('final_weight')

In [110]:
sample_id

'Canberra00297'